:root {
    font-size: 24px;
    --back: #004643;
    --headline: #fffffe;
    --paragraph: #abd1c6;
    --anotvisited: #f9bc60;
    --avisited: #ab916b;
}

body {
    display: flex;
    background-color: var(--back);
    color: var(--paragraph);
}

h1 {
    color: var(--headline);
}

h2 {
    color: var(--headline);
}

h3 {
    color: var(--headline);
}

h4 {
    color: var(--headline);
}

h5 {
    color: var(--headline);
}

h6 {
    color: var(--headline);
}

.nav-bar {
    height: 100%;
    background-color: var(--back);
    color: var(--paragraph);
    margin-left: 1rem;
    margin-right: 1rem;
}

summary {
    display: block;
}

.side-nav-list {
    list-style-type: none;
}

li {
    padding: 0.3rem;
}

.nav-bar li {
    padding: 0.3rem;
    color: var(--headline);
}

.material-symbols-outlined {
    color: var(--headline);
    font-size: 3rem;
}

.main-content {
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
}

img {
    height: 70%;
    width: 70%;
}

a:link{
    color: var(--anotvisited);
    text-decoration: underline;
}

a:visited {
    color: var(--avisited);
    text-decoration: underline;
}

a:link:hover , a:visited:hover{
    color: var(--paragraph);
}

.icon {
    width: 15rem;
}